:esnumero
   Retornar (esnumero[1] ~= "^[0-9]+$")
:factorial
   Si (factorial[1]=0 || factorial[1]=1)
      Retornar 1
   SiNo
      Retornar factorial[1] * $(factorial % factorial[1] - 1 %)
:repetir
   Definir x = 0
   Mientras x<repetir[1]
      x++
      Definir cadena = "% cadena repetir[2] %"
   Retornar cadena
:media
   Definir total = % media.MaxIndex() %
   Definir x = 0
   Definir t = 0
   Mientras x<total
      x++
      Definir t = % t + media[x] %
   Retornar t/total
:media_por_espacios
   Definir media = $(StrSplit media_por_espacios[1] " ")
   Definir media_por_espacios =
   Definir total = % media.MaxIndex() %
   Definir n = 0
   Definir x = 0
   Definir t = 0
   Mientras x<total
       x++
       Si media[x]!=""
          Definir t = % t + media[x] %
          n++
   Retornar Round(t/n, 2)
:main
  Mensaje "Media" Con "La media de 5, 6, 7.15 es--->$(Media 5 6 7.15)"
  Mensaje "Media desde Entrada" Con "La media de los números ingresados es--->$(Media_por_espacios $(Entrada "Ingrese números separados por espacios:"))"
  Definir PALABRA = $(Entrada "Ingrese cualquier palabra:")
  Mensaje "Resultado" Con "$(Repetir $(Entrada "¿Cuántas veces desea repetir [%PALABRA%]?\n\nIngrese un número:") PALABRA)"