:main
   # iniciar_consola <Titulo> <ancho> <altura> <x> <y>
   # si no se especifica una posición la ventana se centrará por defecto
   
   Definir NOMBRE con $(Entrada "¿Cuál es tu nombre?")
   
   # la consola solo se moestrara si se usa Imprimir o Iniciar_consola\Leer_consola
   Iniciar_consola "Titulo personalizado" 80 20

   Si NOMBRE
      Imprimir "Hola, %NOMBRE%"
   SiNo
      Imprimir "Hm, no tienes nombre?"
   
   # la consola utiliza ANSI, es decir, no soporta carácteres especiales con tildes ni "ñ" (Anglosajón)
   Definir EDAD con $(Leer_consola "Y cual es tu edad? ")

   Imprimir "\n\n"
   Si EDAD
      Si EDAD>=18
         Imprimir "Gracias por usar este proyecto\nEstare esperando tus recomendaciones!"
      SiNo
         Imprimir "Tan joven e interesado en este proyecto?\nBienvenido!!"
   SiNo Si NOMBRE
      Imprimir "%NOMBRE%, me das tu nombre y no tu edad? huh"
   SiNo
      Imprimir "A...\nBye!"
      Dormir 3000
      Salir
   
   # la consola no detiene el flujo del Script, es necesario esperarla si se requiere
   Esperar_consola