:main
   # Bucles simples
   # Hacer 1 ... N iteraciones
   # "Index" es una variable temporal existente durante la ejecución del bucle, cuenta las iteraciones realizadas
   Imprimir "------------------------"
   Para 100
      Imprimir Index
   Imprimir "------------------------"


   # Hacer N ... N2 iteraciones
   # Para este caso, la variable temporal "Index" se asociara con el valor recorrido desde N
   Para -2  2
      Imprimir Index
   Imprimir "------------------------"


   # Bucles basados en un conjunto de elementos secuenciales
   # "Index" también existe y se puede relacionar con el N elemento actualmente en uso
   Para X en 1 2 3 4
       Imprimir X
   Para LINEA en "Primera linea" "Segunda linea" "Tercera linea"
       Imprimir LINEA
   Imprimir "------------------------"


   # Bucles basados en elementos de un Arreglo/Objeto
   # "Index" también existe y se puede relacionar con el N elemento actualmente en uso (En Arreglos: Index = CLAVE)
   Definir ARREGLO con "A" "B" "C"
   Para CLAVE VALOR en ARREGLO
      Mensaje con "%CLAVE% = %VALOR%"