:Tabla -> Tabla = [Table], Titulo = [Title], ancho = [width] , altura = [height], TAG
    Definir N Con Tabla[1]
    Definir X Con 1
    Definir TOTAL Con % With.MaxIndex() %
    Si ancho[1] && altura[1]
       Definir Dimen Con "w%ancho[1]% h%altura[1]%"
    Si Titulo[1]
       Definir Titulo Con Titulo[1]
    SiNo
       Definir Titulo Con "Tabla%N%"
    Si TAG[1]
       Definir Dimen Con "% Dimen " g" TAG[1] %"
    Gui "new%N%: Destroy"
    Gui "new%N%: Default"
    Gui "new%N%: +AlwaysOnTop"
    Gui "new%N%: Add, ListView, % Dimen ", " With[1] %"
    Definir Columnas Con $(LV_GetCount "Column")
    Si Columnas
        Mientras X<TOTAL
          X++
          Definir Filas Con $(StrSplit With[X] "|")
          LV_Add "" Filas*
        Definir X Con 0
        Mientras X<Columnas
           X++
           LV_ModifyCol X "AutoHdr"
    Gui "new%N%: Show, AutoSize, %Titulo%"

:main
   Mensaje "HUH" con "Bienvenido a DinoCode!"
   Si $(Pregunta con "Desea continuar?")
      Tabla 1 Titulo "huh" Ancho 200 Altura 100 Con "Columna 1|Columna 2|Columna 3" "1|2|3" "4|5|6"
      Tabla 2 Con "|Petecito" "1|Pwu" "2|Oleee"
      esperar_ventana "huh"