:INCREMENTAR
  CONTADOR++
  Imprimir CONTADOR
  Si (CONTADOR >= 100)
     Hilo INCREMENTAR Delete
     Msg "Hilo 2" con "El contador ya NO incrementará."
:MAIN
  Iniciar_Consola "Prueba" 50 80
  Definir CONTADOR con 0
  Hilo INCREMENTAR 100 # Llamar cada 100 milisegundos
  Msg "Hilo 1" con "Este mensaje no impide el incremento del contador."
