:MAIN
   # La redireccion literal captura contenido multilinea en una Variable especifica
   # Se utiliza el indentado como en los bloques condicionales
   > MiVariable
     Primera linea
     Segunda linea
     Tercera linea
   Mensaje "CONTENIDO" con MiVariable
   
   # Es posible usar Expresiones porcentuales para construir contenido más complejo
   Definir TEST = "n u e v o"
   > MiVariable
     Primera linea
     Segunda linea
     %TEST%
     Tercera linea
   Mensaje "CONTENIDO" con MiVariable
   
   # También se soporta el escape de carácteres
   > MiVariable
     Primera linea
     Segunda linea\n\n
     Tercera linea
   Mensaje "CONTENIDO" con MiVariable
