:isnumber
   Return (isnumber[1] ~= "^[0-9]+$")
:factorial
   If (factorial[1]=0 || factorial[1]=1)
      Return 1
   Else
      Return factorial[1] * $(factorial % factorial[1] - 1 %)
:repeat
   Set x = 0
   While x<repeat[1]
      x++
      Set string = "% string repeat[2] %"
   Return string
:mean
   Set total = % mean.MaxIndex() %
   Set x = 0
   Set t = 0
   While x<total
      x++
      Set t = % t + mean[x] %
   Return t/total
:mean_by_spaces
   Set mean = $(StrSplit mean_by_spaces[1] " ")
   Set mean_by_spaces =
   Set total = % mean.MaxIndex() %
   Set n = 0
   Set x = 0
   Set t = 0
   While x<total
       x++
       If mean[x]!=""
          Set t = % t + mean[x] %
          n++
   Return Round(t/n, 2)
:main
  Msg "Mean" With "The mean of 5, 6, 7.15 is--->$(Mean 5 6 7.15)"
  Msg "Mean from Input" With "The mean of the numbers entered is--->$(Mean_by_spaces $(Input "Enter numbers separated by spaces:"))"
  Set ANY = $(Input "Enter any word:")
  Msg "Result" With "$(Repeat $(Input "How many times do you want to repeat [%ANY%]?\n\nEnter a number:") ANY)"