:main
   # start_console <Title> <width> <height> <x> <y>
   # if no position is specified, the window will be centered by default

   Set NAME with $(Input "Whats your name?")
   
   # the console will only be shown if Print or Start_Console\Read_console is used.
   Start_console "Custom Title" 80 20

   If NAME
      Print "Hi, %NAME%"
   Else
      Print "Hm, don't you have a name?"
   
   Set AGE with $(Read_console "And how old are you? ")

   Print "\n\n"
   If AGE
      If AGE>=18
         Print "Thanks for using this project\nI'll be waiting for your recommendations!"
      Else
         Print "So young and you are interested in this project?\nWelcome!!"
   Else If NAME
      Print "%NAME%, did you give me your name and not your age? huh"
   Else
      Print "Fck you...\nBye!"
      Sleep 3000
      Exit
   
   # the console does not stop the flow of the Script, it is necessary to wait for it if required
   Wait_console