:main
   # Simple loops
   # Do 1 ... N iterations
   # "Index" is a temporary variable existing during the execution of the loop, it counts the iterations performed
   Print "------------------------"
   For 100
      Print Index
   Print "------------------------"

   # Do N ... N2 iterations
   # For this case, the temporary variable "Index" will be associated with the value traversed from N
   For -2  2
      Print Index
   Print "------------------------"


   # Loops based on a set of sequential elements
   # "Index" also exists and can be related to the N element currently in use
   For X in 1 2 3 4
       Print X
   For LINE in "First line" "Second line" "Third line"
       Print LINE
   Print "------------------------"
   

   # Loops based on elements of an Array/Object
   # "Index" also exists and can be related to the N element currently in use (In Arrays: Index = KEY)
   Set ARRAY with "A" "B" "C"
   For KEY VALUE in ARRAY
      Msg with "%KEY% = %VALUE%"