:Table -> Table = [Tabla], Title = [Titulo], width = [ancho] , height = [altura], TAG
    Set N With Table[1]
    Set X With 1
    Set TOTAL With % With.MaxIndex() %
    If Width[1] && Height[1]
       Set Dimen With "w%Width[1]% h%Height[1]%"
    If Title[1]
       Set Title With Title[1]
    Else
       Set Title With "Table%N%"
    If TAG[1]
       Set Dimen With "% Dimen " g" TAG[1] %"
    Gui "new%N%: Destroy"
    Gui "new%N%: Default"
    Gui "new%N%: +AlwaysOnTop"
    Gui "new%N%: Add, ListView, % Dimen ", " With[1] %"
    Set Columns With $(LV_GetCount "Column")
    If Columns
        While X<TOTAL
          X++
          Set Rows With $(StrSplit With[X] "|")
          LV_Add "" Rows*
        Set X With 0
        While X<Columns
           X++
           LV_ModifyCol X "AutoHdr"
    Gui "new%N%: Show, AutoSize, %Title%"

:main
   Message "HUH" with "Welcome to DinoCode!"
   If $(Question with "Do you want to continue?")
      Table 1 Title "huh" Width 200 Height 100 With "Column 1|Column 2|Column 3" "1|2|3" "4|5|6"
      Table 2 With "|Petecito" "1|Pwu" "2|Oleee"
      wait_window "huh"