:INCREASE
  COUNT++
  Print COUNT
  IF (COUNT >= 100)
     Thread INCREASE Delete
     Msg "Thread 2" With "The counter will NO longer increment."
:MAIN
  Start_Console "Just Test" 50 80
  Set COUNT With 0
  Thread INCREASE 100 # Call every 100 milliseconds
  Msg "Thread 1" With "This message does not prevent the counter from being incremented."
