:MAIN
   # Literal redirection captures multiline content in a specific variable
   # Indentation is used as in conditional blocks
   > MyVariable
     First line
     Second line
     Third line
   Msg "CONTENT" With MyVariable
   
   # It is possible to use Percentage Expressions to build more complex content
   Set TEST = "n e w"
   > MyVariable
     First line
     Second line
     %TEST%
     Third line
   Msg "CONTENT" With MyVariable
   
   # Character escaping is also supported
   > MyVariable
     First line
     Second line\n\n
     Third line
   Msg "CONTENT" With MyVariable
